.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.editButton, .deleteButton {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover {
    background-color: #1976D2;
}

.deleteButton {
    background-color: #f44336;
}

.deleteButton:hover {
    background-color: #d32f2f;
}
